*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor-azul-escuro: #5161A8;
    --cor-azul-2: #6d7cc2;
    --cor-azul-3: rgb(141, 70, 221);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*CONFIGURAÇÕES DO HEADER ===========================================*/

header{
    background-color: var(--cor-azul-escuro);
    color: white;
    text-align: center;
}

header h1{
    font-size: 3em;
    padding: 20px;
    padding-bottom: 0px;
}

header p{
    font-size: 0.8em;
    padding-bottom: 10px;
}

/*CONFIGURAÇÕES DO NAVEGADOR =======================================*/

nav > div{
    background-color: var(--cor-azul-escuro);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    text-align: center;
    min-width: 470px;
    width: 100vw;
}

nav a{
    padding: 0px 20px;
    text-decoration: none;
}

nav a:hover{
    background-color: beige;
    border-radius: 2px;
    transition:1s;
}

/*CONFIGURAÇÕES DA MAIN =======================================*/

main{
    margin: 0px 100px;
    padding: 50px 0px;
    text-align: justify;
}

main a{
    text-decoration: none;
    color: var(--cor-azul-3);
}

main a:hover{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    transition: 1s;
}

/*CONFIGURAÇÕES DAS SECTIONS =======================================*/
section{
    width: 70vw;
    max-width: 750px;
    padding-bottom: 100px;
}

/*CONFIGURAÇÕES DO FORMULÁRIO =======================================*/
form div{
    display: flex;
    flex-direction: column;
}

div#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea{
    width: 70vw;
    margin: 10px 0px;
}

input{
    margin: 5px 0px;
}

input#submit-button{
    width: 100px;
    display: flex;
    align-self: center;
}

/*CONFIGURAÇÕES DO FOOTER =======================================*/
footer{
    background-color: #5161A8;
    color: white;
    text-align: center;
    /*height: 100px;*/
    /*max-width: 100vw;*/
}

footer p{
    background-color: rgb(61, 60, 60);
    margin-top:15px;
    padding: 10px 0px
}

/*CONFIGURAÇÕES GERAIS =======================================*/

.conteiner{
    position: relative;
}

.content{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, 0%);
}